.waves {
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background-color: rgba($white, 0.4);
  transform: scaleY(1);
  align-items: flex-end;
  display: none;

  -webkit-backdrop-filter: blur(0.2rem) !important;
  backdrop-filter: blur(0.2rem) !important;

  &--visible {
    display: flex;
  }

  &--container {
    position: absolute;
  }

  &--page {
    position: fixed;
  }
}

.wave {
  opacity: 0.1;
  position: absolute;
  left: 5%;
  width: 200%;
  padding-top: 200%;
  //margin-left: 0%;
  //margin-top: -100%;
  transform-origin: 50% 48%;
  border-radius: 45%;
  animation: drift 3000ms infinite linear;
  background-color: $primary;

  &--three {
    border-radius: 50%;
    animation: drift 5000ms infinite linear;
  }

  &--two {
    border-radius: 40%;
    animation: drift 7000ms infinite linear;
  }

  @each $color, $value in $theme-colors {
    &--#{$color} {
      background-color: $value;
    }
  }
}

@keyframes drift {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
