.progress {
  width: 100%;
  position: relative;
  height: 6px;

  &::before {
    position: absolute;
    display: block;
    content: ' ';
    top: 2px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: lighten($text-muted, 10%);
  }

  &--normal::before {
    background-color: lighten($text-muted, 10%);
  }

  &--primary::before {
    background-color: lighten($primary, 10%);
  }

  &--secondary::before {
    background-color: rgba($white, 0.8);
  }

  &--success::before {
    background-color: lighten($success, 10%);
  }

  &--ternary::before {
    background-color: lighten($white, 0.8);
  }
}

.progress-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 3px;

  &,
  &--normal {
    background-color: $text-muted;
  }

  &--primary {
    background-color: $primary;
  }

  &--success {
    background-color: $success;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--ternary {
    background-color: $ternary;
  }
}
