@import 'variables';

.header {
  background-color: $bgColors;
}

.content {
  height: $headerHeight;
  width: $headerHeight;
  display: flex;
  justify-items: left;
  align-items: center;
}

.button {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
  color: $dark !important;
  width: $headerHeight;
}
