@import 'variables';

.menu-content {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});

  &--mobile {
    position: absolute;
    height: 0px;
    left: -$mobileWidth;
    transition: left $transition-presentational-timing ease-in-out;

    &--opened {
      position: relative;
      height: auto;
      left: 0px;
    }
  }
}
