@import 'variables';

.menu {
  position: fixed;
  top: -1px; // compensating border bottom
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: $width;
  //background-color: $bgColors;
  //border-right: 1px solid $borderColor;
  //border-bottom: 1px solid $borderColor;
  //border-bottom-style: inset;
  transition: width $transition-presentational-timing ease-in-out;
  z-index: $zindex-fixed + 1;

  -webkit-backdrop-filter: blur(0.7rem);
  backdrop-filter: blur(0.7rem);

  &--mobile {
    width: $mobileWidth;
  }

  &--closed {
    width: $headerHeight;
    overflow: hidden;
  }
}
