@import 'variables';

.header {
  background-color: $bgColors;

  @supports (not (-webkit-backdrop-filter: blur(0.7rem))) and (not (backdrop-filter: blur(0.7rem))) {
    background: rgba($bgColors, 0.8);
  }
}

.content {
  height: $headerHeight;
  width: $headerHeight;
  display: flex;
  justify-items: left;
  align-items: center;
}

.button {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
  color: $dark !important;
  width: $headerHeight;
}
