@import 'variables';

.menu-content {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
  flex-direction: column;
  display: flex;

  &--mobile {
    position: absolute;
    height: 0px;
    left: -$mobileWidth;
    transition: left $transition-presentational-timing ease-in-out;

    &--opened {
      position: relative;
      height: auto;
      left: 0px;
    }

    > * {
      border-bottom-right-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }
  }
}
