@import 'variables';

.menu-item {
  width: 100%;
  border-left: 0px solid transparent;
  padding: map-get($spacers, 3) 0px map-get($spacers, 3) 3px;
  display: flex;
  position: relative;
  transition: background-color $transition-presentational-timing ease-in,
    color $transition-presentational-timing ease-in,
    border-radius $transition-presentational-timing ease-in;
  color: $text-muted;
  background-color: $bgColors;
  border-radius: 0px;

  @supports (not (-webkit-backdrop-filter: blur(0.7rem))) and (not (backdrop-filter: blur(0.7rem))) {
    background: rgba($bgColors, 0.8);
  }

  &--previous-active {
    border-bottom-right-radius: $border-radius;
  }

  &--after-active {
    border-top-right-radius: $border-radius;
  }

  &:hover.menu-item--hoverable,
  &--active {
    color: $primary;
    padding-left: 0px;
    text-decoration: none;
    border-left: 3px solid $primary;
    background-color: transparent; // lighten($primary, 38%);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &::before {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
  }

  &-icon {
    //width: calc(#{$headerHeight} - 3px);
    display: flex;
    min-width: calc(#{$headerHeight} - 3px);
    justify-content: center;
    align-items: center;
  }

  &-text {
    &--iconless {
      padding-left: $headerHeight;
    }
  }
}
