.more-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

.card {
  position: relative;
  transition: transform 0.1s ease-in-out;

  &--not-opened {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.card-header {
  cursor: pointer;
  display: flex;
  width: 100%;
}
