.more-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

.card {
  position: relative;
  top: 0px;
  transition: top 0.1s ease-in;
  padding: map-get($spacers, 2);

  &--not-opened {
    &:hover {
      top: -5px;
    }
  }
}

.card-header {
  cursor: pointer;
  display: flex;
  width: 100%;
}
