.header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $gray-300;
  margin-bottom: map-get($spacers, 5);
}

.logo {
  img {
    height: 20px;
  }

  @include media-breakpoint-down('xs', $grid-breakpoints) {
    margin-left: 4rem;
  }
}
