.option {
  padding: map-get($spacers, 3);

  &-category {
    display: flex;
    align-items: center;

    &-icon {
      margin-top: 2px;
      height: 1rem;
      width: 1rem;
      margin-right: map-get($spacers, 1);
    }
  }
}
