.option {
  padding: map-get($spacers, 3);
  display: flex;

  &-category {
    display: flex;
    align-items: center;

    &-icon {
      margin-top: 5px;
      height: 1rem;
      width: 1rem;
      margin-right: map-get($spacers, 1);
    }
  }

  &-image {
    width: 120px;
    border-radius: $border-radius;
    margin-right: map-get($spacers, 3);
    flex-shrink: 0;
    &,
    img {
      object-fit: cover;
    }
  }

  &-overview {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
