.input-wrapper {
  position: relative;

  &-clearer {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 1.2rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2;
  }
}

.input--clearable {
  padding-right: 2.5rem !important;
}
