@import '~bootstrap/scss/functions';

$font-family-sans-serif: $font-family;

$theme-colors: (
  white: $white,
);

$grid-breakpoints: (
  xxs: 0,
  xs: 400,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px,
);

$font-weight-lighter: $font-weight-light;
$font-weight-bolder: $font-weight-bold;

$headings-font-weight: $font-weight-light;

$dark: $gray-900;
$body-bg: $gray-100;

$input-color: $gray-900;
$input-focus-color: $gray-900;
$input-placeholder-color: $gray-600;
$input-border-color: $gray-400;
$input-bg: $gray-100;

$label-margin-bottom: 0.1rem;

$card-border-width: 0px;
//$card-border-color: $gray-400;
$card-cap-bg: $white;
$card-spacer-x: 2rem;

$alert-border-width: 0px;

// decorative transitions, don't deliver informations to user
$transition-presentational-timing: 0.2s;

$text-muted: $gray-700;
$close-font-weight: 300;

$modal-content-border-width: 0px;
$modal-content-border-radius: $border-radius;

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
