@import '~bootstrap/scss/functions';

$font-family-sans-serif: $font-family;

$theme-colors: (
  white: $white,
);

$white-muted: rgba($white, 0.85);

$grid-breakpoints: (
  xxs: 0,
  xs: 400,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px,
);

$font-weight-lighter: $font-weight-light;
$font-weight-bolder: $font-weight-bold;

$headings-font-weight: $font-weight-light;

$dark: $gray-900;
$body-bg: 'transparent';

$input-color: $gray-900;
$input-focus-color: $gray-900;
$input-placeholder-color: $gray-700;
$input-border-color: $gray-400;
$input-bg: $gray-100;

$label-margin-bottom: 0.1rem;

$alert-border-width: 0px;

// decorative transitions, don't deliver informations to user
$transition-presentational-timing: 0.2s;
$transition-contemplative-timing: 0.4s;

$text-muted: $gray-700;
$close-font-weight: 300;

$input-bg: rgba($white, 0.2);
$input-border-color: rgba($white, 0.4);
$input-border-width: 1px;

$input-focus-bg: rgba($white, 0.3);
$input-focus-border-color: rgba($white, 0.5);

// cards
$card-bg: rgba($white, 0.4);
$card-border-color: rgba($white, 0.4);
$card-border-width: 1px;
$card-cap-bg: transparent;
$card-spacer-x: 2rem;

// modals
$modal-content-border-color: rgba($white, 0.8);
$modal-content-bg: rgba($white, 0.6);
$modal-backdrop-bg: rgba($secondary, 0.4);
$modal-backdrop-opacity: 1;
$modal-content-border-radius: $border-radius;
$modal-content-border-color: rgba($white, 0.7);
$modal-content-border-width: 1px;
$modal-footer-border-color: rgba($white, 0.2);
$modal-header-border-color: rgba($white, 0.2);

$dropdown-bg: rgba($white, 0.4);
$dropdown-border-width: 1px;
$dropdown-border-color: rgba($white, 0.7);

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

$modal-inner-padding: map-get($spacers, 4); // map-get($spacers, 5);
$modal-header-padding: map-get($spacers, 3) map-get($spacers, 4);
//$modal-header-padding-y: $modal-inner-padding;
//$modal-header-padding-x: $modal-inner-padding;
