.directory {
  align-items: center;
  display: flex;
  margin-bottom: map-get($spacers, 1);

  &--interactive {
    cursor: pointer;
  }
}

.directory-label {
  margin-top: 0.3rem;
  color: $gray-800;
  word-break: break-all;
}

.directory-icon {
  color: $gray-800;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: map-get($spacers, 1);
}

.directory-copy-btn {
  margin-left: auto;
  flex-shrink: 0;
  position: relative;
}

.directories {
  &--has-name {
    margin-left: 1.5rem + map-get($spacers, 1);
  }
}

.files {
  margin-bottom: map-get($spacers, 2);
}
