.file {
  display: block;
  padding-bottom: map-get($spacers, 1);
  padding-top: map-get($spacers, 1);
  border-bottom: 1px solid $gray-300;
  position: relative;
  line-height: 2rem;

  &--has-progress {
    border-bottom-color: lighten($success, 40%);
  }
}

.file-progress {
  position: absolute;
  height: 1px;
  background-color: $success;
  left: 0px;
  bottom: -1px;
}

.file-icon {
  display: inline-block;
  color: lighten($body-color, 20%);
  margin-right: map-get($spacers, 1);
}

.file-label-span {
  vertical-align: middle;
}

.file-label {
  word-break: break-all;
}

.file-size {
  display: inline-block;
  float: right;
  margin-left: map-get($spacers, 2);
}

.file-transcoded, .file-play {
  display: inline-block;
  float: right;
  //margin-top: -0.25rem;

  > * {
    margin-left: map-get($spacers, 2);
  }
}

.file-transcoding-status {
  display: inline-block;
  float: right;
  margin-left: map-get($spacers, 2);
}
